<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <form method="post">
        <div class="form-group">
            <label>Name
                <input th:field="${event.name}" class="form-control" />
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <br>
        <div class="form-group">
            <label>Description
                <input th:field="${event.eventDescription}" class="form-control" />
            </label>
            <p class="error" th:errors="${event.eventDescription}"></p>
        </div>
        <br>
        <div class="form-group"> <!-- Added for 13.5 Exercises -->
            <label>Location
                <input th:field="${event.location}" class="form-control" />
            </label>
            <p class="error" th:errors="${event.location}"></p>
        </div>
        <br>
        <div class="form-group"> <!-- Added for 13.5 Exercises -->
            <label>Number of Attendees
                <input th:field="${event.numberOfAttendees}" class="form-control" />
            </label>
            <p class="error" th:errors="${event.numberOfAttendees}"></p>
        </div>
        <br>
        <div class="form-group"> <!-- Added for 13.5 Exercises -->
            <label>
                <input type="radio" th:field="${event.mustRegister}" value="true" />
                Must Register
            </label>
            <p class="error" th:errors="${event.mustRegister}"></p>
        </div>
        <br>
        <div class="form-group">
            <label>Contact Email
                <input th:field="${event.contactEmail}" class="form-control" />
            </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>
        <br>
        <div class="form-group">
            <label>Category:
                <select th:field="${event.eventCategory}">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </label>
            <p class="error" th:errors="${event.eventCategory}"></p>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </form>

<!--replaced by Bootstrap in 11.9-->
<!--    <h1>Create Event</h1>-->
<!--    <nav th:replace="fragments :: navigation"></nav>-->
<!--    <form method="post" action="/events/create">  &lt;!&ndash; 11.6.5 could leave off action attribute &ndash;&gt;-->
<!--        <input type="text" name="eventName" />-->
<!--        <input type="submit" value="Create Event" />-->
<!--    </form>-->
</body>
</html>