<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <form method="post">
        <div class="form-group">
            <label>Name
                <input type="text" name="name" class="form-control" />
            </label>
        </div>
        <br>
        <div class="form-group">
            <label>Description
                <input type="text" name="eventDescription" class="form-control" />
            </label>
        </div>
        <br>
        <div class="form-group">
            <label>Contact Email
                <input type="text" name="contactEmail" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </form>

<!--replaced by Bootstrap in 11.9-->
<!--    <h1>Create Event</h1>-->
<!--    <nav th:replace="fragments :: navigation"></nav>-->
<!--    <form method="post" action="/events/create">  &lt;!&ndash; 11.6.5 could leave off action attribute &ndash;&gt;-->
<!--        <input type="text" name="eventName" />-->
<!--        <input type="submit" value="Create Event" />-->
<!--    </form>-->
</body>
</html>