<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <form method="post">    <!-- will post to /events/delete-->
        <th:block th:each="event : ${events}">
            <div class="form-group">
<!--                <label th:text="${event.name}">-->
<!--                    <span th:text="${event.name}"> </span>-->
                    <input type="checkbox" th:id="${event.id}" name="eventIds" th:value="${event.id}"/>
                    <label th:for="${event.id}" th:text="${event.name}"></label>
<!--                </label>-->
            </div>
        </th:block>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

</body>
</html>