<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <header th:replace="fragments :: header"></header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Number of Attendees</th>
                <th>Must Register</th>
                <th>Contact Email</th>
                <th>Category</th>
            </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.eventDescription}"></td>
            <td th:text="${event.location}"></td>
            <td th:text="${event.numberOfAttendees}"></td>
            <td th:text="${event.mustRegister}"></td>
            <td th:text="${event.contactEmail}"></td>
            <td th:text="${event.eventCategory.name}"></td>
        </tr>
    </table>

<!--  replaced by Bootstrap in 11.9  -->
<!--<h1>All Events</h1>-->
<!--    <nav th:replace="fragments :: navigation"></nav>-->
<!--    <p th:unless="${events} and ${events.size()}">No events!</p>-->
<!--    <ul>-->
<!--        <th:block th:each="event: ${ events }">-->
<!--            <li th:text="${event}">Placeholder Event</li>-->
<!--        </th:block>-->
<!--    </ul>-->
</body>
</html>